.radio.radiobuttonlist input[type="radio"],
.checkbox.checkboxlist input[type="checkbox"] {
    margin-left: 0;
}

.radio.radiobuttonlist label,
.checkbox.checkboxlist label {
    margin-bottom: 4px;
    margin-left: 0;
}

/*fieldset legend
{
	border: 0;
	font-size: inherit;
	font-weight: 700;
	margin-bottom: 0;
}*/

fieldset .radio,
fieldset .checkbox {
    margin-top: 4px;
}

.glyphicon-spin {
    -webkit-animation: spin 1000ms infinite linear;
    animation: spin 1000ms infinite linear;
}

body {
}

/*override form.less from bootstrap*/
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
    position: absolute;
    margin-left: 0px;
    margin-top: 4px \9;
}

/*jquery validation error*/
label.error {
    color: red;
    font-size: 0.8em;
}

span.error {
    color: red;
    font-size: 1.2em;
}

/*used for accent textarea (*)*/
.accentText {
    color: #393;
}

.invisible {
    display: none;
}

input[disabled] {
    cursor: not-allowed;
    box-shadow: none;
    opacity: .65;
}

.historyhead {
    padding: 5px 10px;
    cursor: pointer;
    position: relative;
    /*background-color: #AFE01B;*/
    background-color: #204d74;
    color: #fff;
    margin: 1px;
}

.historylist {
    padding: 5px 10px 15px;
}

.GroupHeaderStyle {
    border: solid 1px Black;
    background-color: #337ab7;
    color: #ffffff;
    font-weight: bold;
}

.piw-borderless,.piw-borderless tbody tr td, .piw-borderless tbody tr th, .piw-borderless thead tr th, .piw-borderless tbody table {
    border: none;
}
