<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--DEV-->
    <!--<add key="ClientId" value="84ea56ad-f0f5-4121-bec7-e824b78d0535" />
    <add key="ClientSecret" value="zBDnNWZwZiLfdIdQT3BARyv0RF4qzJKoTYZv6LmA5B4=" />
    <add key="SiteUrl" value="https://fdc1s-sp23wfed2.ferc.gov/piw/"/>-->
    <add key="ClientId" value="fa894505-c3c7-4195-b173-71e90aa289d2" />
    <add key="ClientSigningCertificatePath" value="E:\Certs\S2S\S2SDevRev2.pfx" />
    <add key="ClientSigningCertificatePassword" value="Sharepoint03" />
    <add key="IssuerId" value="e6fe8243-740f-40e5-bd88-93385473ca01" />
    <add key="SiteUrl" value="https://fdc1s-sp23wfed2.ferc.gov/piw/"/>
    
    
    
    <!--TEST-->
    <!--<add key="ClientId" value="7cc9aa34-aa0e-46da-9685-25e68f860b13" />
    <add key="ClientSigningCertificatePath" value="E:\Certs\S2S\S2STestRev3.pfx" />
    <add key="ClientSigningCertificatePassword" value="Sharepoint03" />
    <add key="IssuerId" value="624774a2-c249-478d-9f66-ed91c289fc5d" />-->
  </appSettings>
</configuration>