<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--DEV-->
    <!--<add key="ClientId" value="0daef9bf-d4f3-4fbb-88e8-15c977058ee4" />
    <add key="ClientSigningCertificatePath" value="E:\Certs\S2S\S2SPIWDev.pfx" />
    <add key="ClientSigningCertificatePassword" value="Sharepoint03" />
    <add key="IssuerId" value="0f6b87e0-9958-48cb-b91c-81f1ec5e73a3" />
    <add key="spHostUrl" value="https://fdc1s-sp23wfed2.ferc.gov/piw/"/>
    <add key="FOLAConnectionString" value="Data Source=wdcrdbps011;Initial Catalog=FERCOnlineProd_Rep;Integrated Security=True" />
    <add key="responsequeue" value="FormatName:DIRECT=OS:fdc1s-sp23wfed2\private$\PiwEpsResponse" />
    <add key="mailrelay" value="mailrelay.ferc.gov" />
    <add key="Env" value="Dev" />-->
    
    
    <!--TEST-->
    <add key="ClientId" value="5bd9afb4-33ce-497b-aca1-41de47004861" />
    <add key="ClientSigningCertificatePath" value="E:\Certs\S2S\S2SPIWTest.pfx" />
    <add key="ClientSigningCertificatePassword" value="Sharepoint03" />
    <add key="IssuerId" value="93252799-5643-441f-a42d-c7f0a05e7b61" />
    <add key="spHostUrl" value="https://test.sp.ferc.gov/piw/"/>
    <add key="FOLAConnectionString" value="Data Source=wdcrdbps01;Initial Catalog=FERCOnlineProd_Rep;Integrated Security=True" />
    <add key="responsequeue" value="FormatName:DIRECT=OS:fdc1s-sp23wfet3\private$\PiwEpsResponse" />
    <add key="mailrelay" value="mailrelay.ferc.gov" />
    <add key="Env" value="Test" />
    
    
    
  </appSettings>
  <system.serviceModel>
    <client>
      <endpoint address="http://facfs-elibappt1.ferc.gov/HolidayService/HolidayService.svc/basic"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHolidayService"
        contract="HolidayService.IHolidayService" name="BasicHttpBinding_IHolidayService" />
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="secureBinding" closeTimeout="00:03:00"
                    openTimeout="00:03:00" receiveTimeout="00:03:00" sendTimeout="00:03:00">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IHolidayService" />
      </basicHttpBinding>
    </bindings>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="https" bindingConfiguration="secureBinding" />
    </protocolMapping>
  </system.serviceModel>
</configuration>