<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://fdc1s-sp23wfed2.ferc.gov/piw</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>
    </DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/</DeployIisAppPath>
    <PublishDatabaseSettings />
    <LastUsedBuildConfiguration />
    <LastUsedPlatform />
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL />
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>InProc</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>lnguyen</UserName>
    <_SavePWD>False</_SavePWD>
  </PropertyGroup>
  <ItemGroup>
    <MsDeployDeclareParameters Include="ClientId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
      <Description>Value for ClientId here.</Description>
      <DefaultValue>0daef9bf-d4f3-4fbb-88e8-15c977058ee4</DefaultValue>
      <Value>0daef9bf-d4f3-4fbb-88e8-15c977058ee4</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePath">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
      <Description>Value for ClientSigningCertificatePath here.</Description>
      <DefaultValue>E:\Certs\S2S\S2SPIWDev.pfx</DefaultValue>
      <Value>E:\Certs\S2S\S2SPIWDev.pfx</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
      <Description>Value for ClientSigningCertificatePassword here.</Description>
      <DefaultValue>Sharepoint03</DefaultValue>
      <Value>Sharepoint03</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
    <MsDeployDeclareParameters Include="IssuerId">
      <Kind>XmlFile</Kind>
      <Scope>web.config$</Scope>
      <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
      <Description>Value for IssuerId here.</Description>
      <DefaultValue>0f6b87e0-9958-48cb-b91c-81f1ec5e73a3</DefaultValue>
      <Value>0f6b87e0-9958-48cb-b91c-81f1ec5e73a3</Value>
      <Tags>applicationSettings</Tags>
    </MsDeployDeclareParameters>
  </ItemGroup>
</Project>