<?xml version="1.0" encoding="utf-8"?>

<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://test.sp.ferc.gov/piw</SiteUrlToLaunchAfterPublish>
    <DesktopBuildPackageLocation>$(PackageFileName)</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site/$(WebApplicationName)</DeployIisAppPath>
    <PublishDatabaseSettings />
  </PropertyGroup>

  <ItemGroup>
  <MsDeployDeclareParameters Include="ClientId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientId']/@value</Match>
            <Description>Value for ClientId here.</Description>
            <DefaultValue>7cc9aa34-aa0e-46da-9685-25e68f860b13</DefaultValue>
            <Value>7cc9aa34-aa0e-46da-9685-25e68f860b13</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSigningCertificatePath">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePath']/@value</Match>
            <Description>Value for ClientSigningCertificatePath here.</Description>
            <DefaultValue>E:\Certs\S2S\S2STestRev3.pfx</DefaultValue>
            <Value>E:\Certs\S2S\S2STestRev3.pfx</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="ClientSigningCertificatePassword">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='ClientSigningCertificatePassword']/@value</Match>
            <Description>Value for ClientSigningCertificatePassword here.</Description>
            <DefaultValue>Sharepoint03</DefaultValue>
            <Value>Sharepoint03</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters><MsDeployDeclareParameters Include="IssuerId">
            <Kind>XmlFile</Kind>
            <Scope>web.config$</Scope>
            <Match>/configuration/appSettings/add[@key='IssuerId']/@value</Match>
            <Description>Value for IssuerId here.</Description>
            <DefaultValue>624774a2-c249-478d-9f66-ed91c289fc5d</DefaultValue>
            <Value>624774a2-c249-478d-9f66-ed91c289fc5d</Value>
            <Tags>applicationSettings</Tags>
        </MsDeployDeclareParameters></ItemGroup>
</Project>